@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    --font-family: "Rubik", sans-serif;
    --second-family: "Inter", sans-serif;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: #1C2023;
    font-family: 'Rubik';
}


/////////////////////// header
.header{
    width: 1920px;
    height: 764.2px;
    background-image: url('../img/header.png');
    background-position: right;
    background-repeat: no-repeat;
    margin: 0 auto;
    &-box{
        width: 1414px;
        display: flex;
        margin-left: 296px;
        padding-top: 36.82px;
        &-burger{
            display: grid;
            width: 25px;
            height: 17.83px;
            row-gap: 5.95px;
            margin-right: 50px;
            padding-top: 12px;
            cursor: pointer;
            &-line1{
                width: 25px;
                height: 1.99px;
                margin: 0;
                background-color: #fff;
            }
            &-line2{
                width: 25px;
                height: 1.99px;
                margin: 0;
                background-color: #fff;
            }
            &-line3{
                width: 25px;
                height: 1.99px;
                margin: 0;
                background-color: #fff;
            }
        }
    
        &-nav{
            width: 643px;
            display: flex;
            column-gap: 32.5px;
            &-link{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 193%;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.5);
                text-decoration: none;
            }
            &-link:hover{
                color: #8856d9;
                transition: 0.3s;
            }
            &-link:focus{
                color: #8856d9;
            }
            &-text{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 14px;
                line-height: 193%;
                text-transform: uppercase;
                color: #fff;
                word-spacing: 9px;
                cursor: pointer;
            }
        }
    
        &-container{
            width: 266px;
            display: flex;
            margin-left: 430px;
            justify-content: space-between;
            &-name{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                color: #8c96a0;
                padding-top: 13px;
            }
            &-box1{
    
                &-name{
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 40px;
                    color: #a9c7c7;
                }
                &-text{
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    color: #8c96a0;
                    text-align: center;
                }
            }
            &-box2{
    
                &-name{
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 40px;
                    color: #a9c7c7;
                }
                &-text{
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    color: #8c96a0;
                    text-align: center;
                }
            }
            &-box3{
    
                &-name{
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 40px;
                    color: #a9c7c7;
                }
                &-text{
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    color: #8c96a0;
                    text-align: center;
                }
            }
        }
    }
    
    &-basic{
        margin-top: 112px;
        margin-left: 282px;
        &-name{
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 100px;
            line-height: 100%;
            color: #fff;
        }
        &-text{
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #a9c7c7;
            margin-top: 27px;
            margin-bottom: 50px;
        }
        &-btn{
            border-radius: 6px;
            width: 145px;
            height: 41px;
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;
            color: #fff;
            background-color: #8856D9;
            border: none;
            cursor: pointer;
        }
        &-btn:hover{
            background: #7145b7;
            transition: 0.3s;
        }
    }
}

.headerHidden{
    visibility: hidden;
    padding-top: 0px;
    transition: 0.1s;
}
.headerVisible{
    visibility: visible;
    padding-top: 8px;
    transition: 0.3s;
}
.open{
    width: 12px;
    transition: 0.3s;
}
.close{
    width: 25px;
    transition: 0.3s;
}
/////////////////////////////////


///////////////////////////////// edition
.edition{
    margin-top: 53px;
    &-name{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 40px;
        color: #fff;
        text-align: center;
    }
    &-container{
        display: flex;
        justify-content: center;
        column-gap: 16px;
        margin-top: 31.84px;
        &-box1{
            border-radius: 6px;
            width: 316px;
            background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
            padding: 17px;
            &-photo{
                width: 316px;
                height: 172.14px;
            }
            &-name{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 16px;
                color: #fff;
                text-align: center;
                margin-top: 20.9px;
                margin-bottom: 13.95px;
            }
            &-text1{
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 16px;
                color: #a9c7c7;
                text-align: center;
                margin-bottom: 36.82px;
            }
            &-text2{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                color: #8c96a0;
                line-height: 33.94px;
            }
            &-box{
                display: grid;
                justify-content: end;
                &-text{
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 19px;
                    color: #fff;
                    text-align: end;
                    margin-bottom: 13.93px;
                }
                &-btn{
                    border-radius: 6px;
                    width: 96px;
                    height: 29px;
                    background: #8856d9;
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 13px;
                    text-transform: uppercase;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                }
                &-btn:hover{
                    background: #7145b7;
                    transition: 0.3s;
                }
            }
        }

        &-box2{
            border-radius: 6px;
            width: 316px;
            background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
            padding: 17px;
            &-photo{
                width: 316px;
                height: 172.14px;
            }
            &-name{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 16px;
                color: #fff;
                text-align: center;
                margin-top: 20.9px;
                margin-bottom: 13.95px;
            }
            &-text1{
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 16px;
                color: #a9c7c7;
                text-align: center;
                margin-bottom: 36.82px;
            }
            &-text2{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                color: #8c96a0;
                line-height: 33.94px;
            }
            &-box{
                display: grid;
                justify-content: end;
                &-text{
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 19px;
                    color: #fff;
                    text-align: end;
                    margin-bottom: 13.93px;
                }
                &-btn{
                    border-radius: 6px;
                    width: 96px;
                    height: 29px;
                    background: #8856d9;
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 13px;
                    text-transform: uppercase;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                }
                &-btn:hover{
                    background: #7145b7;
                    transition: 0.3s;
                }
            }
        }

        &-box3{
            border-radius: 6px;
            width: 316px;
            background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
            padding: 17px;
            &-photo{
                width: 316px;
                height: 172.14px;
            }
            &-name{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 16px;
                color: #fff;
                text-align: center;
                margin-top: 20.9px;
                margin-bottom: 13.95px;
            }
            &-text1{
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 16px;
                color: #a9c7c7;
                text-align: center;
                margin-bottom: 36.82px;
            }
            &-text2{
                display: grid;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                color: #8c96a0;
                line-height: 33.94px;
            }
            &-box{
                display: grid;
                justify-content: end;
                &-text{
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 19px;
                    color: #fff;
                    text-align: end;
                    margin-bottom: 13.93px;
                }
                &-btn{
                    border-radius: 6px;
                    width: 96px;
                    height: 29px;
                    background: #8856d9;
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 13px;
                    text-transform: uppercase;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                }
                &-btn:hover{
                    background: #7145b7;
                    transition: 0.3s;
                }
            }
        }
    }
}
//////////////////////////


////////////////////////// Form of payment
.container{
    width: 406px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #292f35;
    background-image: url(../img/Form\ of\ payment.png);
    background-repeat: no-repeat;
    background-position: 18px 85px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 18.68px;
    border-radius: 12px;
    &-close{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        text-align: end;
        color: #d9d9d9;
        position: absolute;
        left: 448px;
        top: 11px;
        cursor: pointer;
    }
    &-name1{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #8856d9;
        margin-top: 31.69px;
        margin-bottom: 7px;
    }
    &-name2{
        font-weight: 500;
        font-size: 15px;
        line-height: 167%;
        color: #fff;
        text-align: center;
        margin-bottom: 16.92px;

    }
    &-infoCard{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    }
    &-card{
        border-radius: 6px;
        width: 406px;
        height: 44px;
        background: #30373f;
        border: none;
        margin-top: 6.97px;
        margin-bottom: 16.92px;
        padding-left: 14px;
        color: #d9d9d9;
    }
    &-card::placeholder{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        text-transform: uppercase;
        color: #d9d9d9;
    }
    &-box1{
        display: flex;
        &-case1{
            margin-bottom: 16.92px;
            &-infoExpire{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 10px;
                text-transform: uppercase;
                color: #fff;
            }
            &-expire{
                border-radius: 6px;
                width: 190px;
                height: 44px;
                background: #30373f;
                border: none;
                margin-top: 6.97px;
                margin-right: 10px;
                padding-left: 14px;
                color: #d9d9d9;
            }
            &-expire::placeholder{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 12px;
                text-transform: uppercase;
                color: #d9d9d9;
            }
        }
        &-case2{

            &-infoCcv{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 10px;
                text-transform: uppercase;
                color: #fff;
            }
            &-ccv{
                border-radius: 6px;
                width: 190px;
                height: 44px;
                background: #30373f;
                border: none;
                margin-top: 6.97px;
                padding-left: 14px;
                color: #d9d9d9;
            }
            &-ccv::placeholder{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 12px;
                text-transform: uppercase;
                color: #d9d9d9;
            }
        } 
    }
    &-infoInstant{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 10px;
        text-transform: uppercase;
        color: #fff;
    }
    &-instant{
        border-radius: 6px;
        width: 406px;
        height: 44px;
        background: #30373f;
        border: none;
        margin-top: 6.97px;
        margin-bottom: 16.92px;
        padding-left: 14px;
        color: #d9d9d9;
    }
    &-instant::placeholder{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        text-transform: uppercase;
        color: #d9d9d9;
    }
    &-box2{
        display: flex;
        margin-bottom: 6.97px;
        &-checkbox{
            border-radius: 6px;
            width: 25px;
            height: 24px;
            margin-right: 12px;
            border: none;
            cursor: pointer;
            appearance: none;
            background: #30373f;
        }
        &-checkbox:checked{
            background: #8856D9;
        }
        &-checkbox:checked::after{
            content: "✔"; 
            font-size: 16px;
            color: #fff;
            position: absolute;
            left: 43px;
            top: 359px;
        }
        &-text{
            height: 10px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 10px;
            text-transform: uppercase;
            color: #fff;
            margin-top: 10px;
        }
    }
    &-text{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 10px;
        color: #d9d9d9;
        line-height: 13px;
        margin-bottom: 6.97px;
    }
    &-box3{
        display: flex;
        justify-content: space-between;
        margin-bottom: 17.91px;
        &-name{
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 14px;
            color: #fff;
            margin-top: 5px;
        }
        &-text{
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 20px;
            text-align: center;
            color: #fff;
        }
    }
    &-btn{
        width: 406px;
        height: 39px;
        border-radius: 6px;
        background: #8856d9;
        border: none;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
    }
    &-btn:hover{
        background: #7145b7;
        transition: 0.3s;
    }
}
.span{
    font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #ff4136;
}
.FormOfPaymentHidden{
    visibility: hidden;
    top: 0%;
    transition: 0.4s;
}
.FormOfPaymentVisible{
    visibility: visible;
    top: 50%;
    transition: 0.5s;
}
/////////////////////////

///////////////////////// video
.video{
    width: 1920px;
    margin: 0 auto;
    &-name{
        // text-align: center;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 40px;
        color: #fff;
        margin-bottom: 32px;
        text-align: center;
    }
    &-box{
        width: 1920px;
        height: 944px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../img/video.png");
        background-repeat: no-repeat;
        margin-left: 0px auto;
        &-name{
            text-align: center;
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 50px;
            line-height: 78%;
            color: #fff;
            margin:76px 0px 29px 56px;
        }
        &-btn{
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            color: #fff;
            border-radius: 6px;
            width: 93px;
            height: 33px;
            background: #30373f;
            border: none;
            margin-left: 46px;
            cursor: pointer;
        }
        &-btn:hover{
            background-color: #8856D9;
            transition: 0.3s;
        }
    }
}
////////////////////////////


//////////////////////////// slider swiper
.slides{
    display: flex;
    gap: 20px;

    &-container{
        border-radius: 6px;
        width: 615px;
        height: 346px;
        background: linear-gradient(180deg, #30373f 22.4%, #141615 100%);

        &-desc{
            display: flex;
            flex-direction: column;
            
            &-btn{
                border-radius: 6px;
                width: 102px;
                height: 33px;
                background: #8c96a0;
                border: 0px;
                margin-left: 201px;
                font-family:Rubik;
                font-weight: 500;
                font-size: 13px;
                text-transform: uppercase;
                color: #fff;
                cursor: pointer;
            }

            &-cont{
                align-items: flex-start;
                width: 256px;
                height: 209px;
                margin-left: 24px;

                &-paragraph{
                    font-family: Rubik;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 142%;
                    color: #d9d9d9;
                }
            }

        }

        &-holder{

            &-img{
                border-radius: 6px;
                width: 278px;
                height: 248px;  
                margin-left: 20px;                          
            }
        }

        &-title{
            font-family: Rubik;
            font-weight: 600;
            font-size: 19px;
            text-transform: uppercase;
            color: #fff;
            margin-left: 20px;
            // margin-top: -10.97px;
            margin-bottom: 16px;
        }
    
         &-titles{
            display: flex;
            flex-direction: row;
            gap: 403px;
    
            &-date{
                font-family: Rubik;
                font-weight: 400;
                font-size: 10px;
                line-height: 170%;
                color: #8c96a0;
                margin-top: 20px;
               margin-left: 20px;
            }

            &-name{
                font-family: Rubik;
                font-weight: 600;
                font-size: 10px;
                text-transform: uppercase;
                color: #8856d9;
                margin-top: 19.9px;
                margin-left: 20px;
            }
         }
    }
}

.swiper-button-prev{
    border-radius: 6px;
    width: 32px;
    height: 31px;
    color: white;
    background: #8c96a0;
    margin-left: 288px;
}

.swiper-button-next{
    border-radius: 6px;
    width: 32px;
    height: 31px;
    color: white;
    background: #8c96a0;
    margin-right: 288px;
}

.swiper-button-prev:hover{
    border-radius: 6px;
    width: 32px;
    height: 31px;
    color: white;
    background: #8856d9;
    transition: 0.3s;
}

.swiper-button-next:hover{
    border-radius: 6px;
    width: 32px;
    height: 31px;
    color: white;
    background: #8856d9;
    transition: 0.3s;
}

.swiper-button-prev::after {
font-size: 17px;
}

.swiper-button-next::after {
    font-size: 17px;
}

.slides-container-desc-btn:hover {
    border-radius: 6px;
    width: 102px;
    height: 33px;
    background: #8856d9;
    border: 0px;
    margin-left: 201px;
    font-family: Rubik;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s;
}
////////////////////////////////////////////////////
